{:paths ["src" "resources" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.12.3"}
        selmer/selmer       {:mvn/version "1.12.67"}
        org.jline/jline {:mvn/version "3.30.6"}
        org.jline/jline-reader   {:mvn/version "3.30.6"}
        org.jline/jline-terminal {:mvn/version "3.30.6"}
        com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}
        clojure-lanterna/clojure-lanterna {:mvn/version "0.9.7"}}

 :aliases
 {:run-m {:main-opts ["-m" "blueprint"]}
  :nrepl
  {:extra-deps {nrepl/nrepl       {:mvn/version "1.0.0"}
                cider/cider-nrepl {:mvn/version "0.42.1"}}
   :main-opts  ["--main" "nrepl.cmdline"
                "--middleware" "[cider.nrepl/cider-middleware]"
                "--interactive"]}
  :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
         :main-opts ["-m" "kaocha.runner"]}
  :build {:extra-paths ["resources"]
          :deps {io.github.clojure/tools.build {:mvn/version "0.10.11"}}
          :ns-default build}}}
