{:latest-lts "17.3"
 :runtimes
 {"17.3"
  {:name "Databricks Runtime 17.3 LTS"
   :spark "4.0.0"
   :python "3.12.3"
   :delta "4.0.0"
   :pyarrow "19.0.1"}

  "16.4"
  {:name "Databricks Runtime 16.4 LTS"
   :spark "3.5.2"
   :python "3.12.3"
   :delta "3.3.1"
   :pyarrow "15.0.2"}

  "15.4"
  {:name "Databricks Runtime 15.4 LTS"
   :spark "3.5.0"
   :python "3.11.11"
   :delta "3.2.0"
   :pyarrow "14.0.1"}}}
